@{
    Layout = null;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="container">
    <h1>Welcome to book store</h1>
    <button class="btn btn-success">Submit</button>
    <img src="~/images/Dell_Logo.png" alt="logo" class="logo" />
    <img src="/MyStaticFiles/download.png" alt="avtar" class="logo" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("hello world");
    });
</script>
