@model BookModel
@{
    ViewData["Title"] = "Add New Book";
}

<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <form method="post" asp-action="AddNewBook">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</div>

